LIVEKIT_API_KEY="Your-LIVEKIT_API_KEY"
LIVEKIT_API_SECRET="Your-LIVEKIT_API_SECRET"
LIVEKIT_URL="YOUR-LIVEKIT_URL"
NEXT_PUBLIC_LIVEKIT_URL="YOUR-NEXT_PUBLIC_LIVEKIT_URL"

ELEVEN_API_KEY = 'YOUR-ELEVEN_API_KEY'
DEEPGRAM_API_KEY="YOUR-DEEPGRAM_API_KEY"
